---
layout: layouts/default.liquid
---
<header class="post-header">
  <h1 class="post-title">Good Morning, Kat</h1>
</header>

<section post-container>
    <ul>
        <li>Personal
            <ul>
                <li><a href="https://feedbin.com">Feedbin</a></li>
                <li><a href="https://www.icloud.com/mail">iCloud Mail</a></li>
                <li><a href="https://app.thestorygraph.com">The StoryGraph</a></li>
                <li><a href="https://github.com">GitHub</a></li>
                <li><a href="https://app.ynab.com">YNAAB</a></li>
                <li><a href="https://www.youtube.com">YouTube</a></li>
            </ul>
        </li>
        <li>Volunteer Stuff
            <ul>
                <li><a href="http://www.bethel-lutheran.org/wp-login.php?itsec-hb-token=mylogin">Bethel WP</a></li>
                <li><a href="https://pmicolumbus.cincwebaxis.com/cinc">PMI Columbus</a></li>
            </ul>
        </li>
        <li>Work
            <ul>
                <li><a href="https://www.seadc.ccms.teleperformance.com">BMS SEADC</a></li>
                <li><a href="https://www.sebra.ccms.teleperformance.com">BMS SEBRA</a></li>
                <li><a href="https://www.sngdc.ccms.teleperformance.com">BMS SNGDC</a></li>
                <li><a href="https://onetp.atlassian.net">TP Jira</a></li> <li><a href="https://dev.azure.com/TPGlobal-TAP/">TP Azure DevOps</a></li>
                <li><a href="https://csmoke-01.devdc.ccms.teleperformance.com/en-US/smoke-test-results">Smoke Server</a></li>
                <li><a href="https://support.teleperformance.com">ServiceNow</a></li>
                <li><a href="https://mytp.ontp.app/">MyTP</a></li>
                <li><a href="https://portal.azure.com/#home">Azure Portal</a></li>
                <li><a href="https://entra.microsoft.com/#home">EntraID</a></li>
                <li>Sharepoint
                    <ul>
                        <li><a href="https://teleperformance.sharepoint.com/sites/EnterpriseSoftware">Enterprise Software</a></li>
                        <li><a href="https://teleperformance.sharepoint.com/sites/GlobalITHR/SitePages/IT%20HR.aspx">Global IT HR</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Reference
            <ul>
                <li><a href="https://www.makeuseof.com/run-ubuntu-as-docker-container/">MUO - Docker</a></li>
            </ul>
        </li>
    </ul>
</section>
<style>
   img {
    border-radius: 50%;
    margin-bottom: var(--space-5);
    width: 300px;
   }
   p {
       padding-top: var(--space-3);
   }
   ul {
       padding-left: var(--space-5);
   }
  .post-header {
    margin-bottom: var(--space-5);
  }
  .post-title {
    font-weight: normal;
  }
  .post-container {
    padding-bottom: var(--space-8);
    border-bottom: 1px solid var(--color-text-shade);
  }
  :root {
    --prism-foreground: #393a34;
    --prism-background: transparent;

    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #bc8671;
    --prism-punctuation: #80817d;
    --prism-literal: #36acaa;
    --prism-keyword: #248459;
    --prism-function: #849145;
    --prism-deleted: #9a050f;
    --prism-class: #2b91af;
    --prism-builtin: #800000;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }

  [data-theme="dark"] {
    --prism-foreground: #d4d4d4;

    --prism-namespace: #aaaaaa;
    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #ce9178;
    --prism-punctuation: #d4d4d4;
    --prism-literal: #36acaa;
    --prism-keyword: #38a776;
    --prism-function: #dcdcaa;
    --prism-deleted: #9a050f;
    --prism-class: #4ec9b0;
    --prism-builtin: #d16969;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }
</style>
