---
layout: layouts/default.liquid
---

<header class="post-header">
  <h1 class="post-title">Hello</h1>
</header>

{% image "public/images/kat-headshot.jpeg", "A person of indeterminate gender wearing brown glasses and knitted fingerless glove in shades of green, black, red, and white rests their chin in their hands and smiles at the camera." %}

<section class="post-container">
    <p>👋🏻Hey, y&apos;all! I&apos;m Kat Wenger.</p>

    <br />

    <ul>
        <li>Non-binary, sort of transmasc</li>
        <li>Pronouns they / them</li>
        <li>Knitter</li>
        <li>Buckeye Fan</li>
        <li>Software Architect at <a href="http://www.teleperformance.com">Teleperformance</a></li>
        <li>General nerd</li>
    </ul>

    <p>Columbus, OH, USA</p>

    <p>I love the satisfaction of creating something that is both useful and beautiful, and I am blessed to be able to do so both with yarn and with code.</p>

    <br />

    <h2>How To Get In Touch</h2>

    <ul>
        <li>Email me at kat dash lookout at icloud dot com.</li>
        <li><a href="https://www.linkedin.com/in/katherinewenger/">LinkedIn</a> for work stuff.</li>
        <li>I have a limited presence on <a href="http://www.instagram.com/kat_lookout">Instagram</a> and am trying out <a href="http://www.threads.net/@kat_lookout">Threads</a></li>
    </ul>

    <br />

    <h2>Where did you come up with the @kat_lookout handle?</h2>

    <p>That's a funny story, actually. When I last worked in a physical office in the "beforetimes", the office I worked in was open plan and had a ping-pong table. My desk happened
    to be right next to the ping-pong table, so naturally ping-pong balls would often come flying in my general direction. Those ping-pong balls were usually accompanied by one 
    of the players saying "Kat, look out!", sometimes before the ping-pong ball got to me, sometimes after. I joked that I heard the phrase "Kat, look out" so often that I was
    starting to think that it was my name. 🙂</p>
</section>

<style>
   img {
    border-radius: 50%;
    margin-bottom: var(--space-5);
    width: 300px;
   }
   p {
       padding-top: var(--space-3);
   }
   ul {
       padding-left: var(--space-5);
   }
  .post-header {
    margin-bottom: var(--space-5);
  }
  .post-title {
    font-weight: normal;
  }
  .post-container {
    padding-bottom: var(--space-8);
    border-bottom: 1px solid var(--color-text-shade);
  }
  :root {
    --prism-foreground: #393a34;
    --prism-background: transparent;

    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #bc8671;
    --prism-punctuation: #80817d;
    --prism-literal: #36acaa;
    --prism-keyword: #248459;
    --prism-function: #849145;
    --prism-deleted: #9a050f;
    --prism-class: #2b91af;
    --prism-builtin: #800000;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }

  [data-theme="dark"] {
    --prism-foreground: #d4d4d4;

    --prism-namespace: #aaaaaa;
    --prism-comment: #758575;
    --prism-namespace: #444444;
    --prism-string: #ce9178;
    --prism-punctuation: #d4d4d4;
    --prism-literal: #36acaa;
    --prism-keyword: #38a776;
    --prism-function: #dcdcaa;
    --prism-deleted: #9a050f;
    --prism-class: #4ec9b0;
    --prism-builtin: #d16969;
    --prism-property: #ce9178;
    --prism-regex: #ad502b;
  }
</style>
